{% extends 'layout.html' %}
{% block title %}
Elpis-About
{% endblock %}
{% block content %}
<article id=about>
<br>
<h1>About</h1>
<br>
<em>
    In Greek mythology, Elpis (Ancient Greek: ἐλπίς)<br>
was the personification of hope (hope was usually <br>
seen as an extension to suffering by the Greek, not <br>
as a good), perhaps a child of Nyx and mother of Pheme,<br>
the goddess of fame, renown and rumor. She was depicted<br>
as a young woman, usually carrying flowers or cornucopia<br>
in her hands. In Hesiod's Works and Days, Elpis was the<br>
last item in Pandora's box (or jar). Based on Hesiod's <br>
description, the debate is still alive to determine if <br>
Elpis was only hope, or more generally expectation. Her <br>
Roman equivalent was Spes.
</em>
<br>
Elpis代表希望女神，这个网站的初衷就是给困苦中的人给人带去希望。<br>
促使他们积极向上。
<p>写下触动你心弦的那句话，感动自己，也感动别人。</p>
<br>
<br>
<p>全部代码在 <a href=http://github.com/gfreezy/Elpis>http://github.com/gfreezy/Elpis</a></p>
<p><cite>Alex</cite> # <a href="mailto:gfreezy@gmail.com">gfreezy@gmail.com</a></p>
</article>
{% endblock %}
