<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset=utf-8>
        <link rel=stylesheet href="{{ url_for('.static', filename='css/style.css') }}" type=text/css>
        <script type=text/javascript src="{{ url_for('.static', filename='js/jquery.min.js') }}"></script>
        <script type=text/javascript src="{{ url_for('.static', filename='js/vanadium-min.js') }}"></script>
    </head>
    <body>
        <header>
        <h1>Impressive Elpis</h1>
        <nav class=group>
        <ul>
            <li><a href="{{ url_for('show_entries') }}" class="{{ 'selected' if g.nav.get('home') else '' }}">Home</a></li>
            <li><a href="{{ url_for('add_entry') }}" class="{{ 'selected' if g.nav.get('add') else '' }}">Add</a></li>
            <li><a href="{{ url_for('about') }}" class="{{ 'selected' if g.nav.get('about') else '' }}">About</a></li>
        </ul>
        </nav>
        </header>
        <div id=content class=group>
            {% block content %}
            {% endblock %}
        </div>
        <footer>
        Copyright@Elpis
        </footer>
    </body>
</html>
