{% extends 'layout.html' %}
{% block title %}
Elpis
{% endblock %}
{% block content %}
{% for entry in entries %}            
<article class=group>
<section>
<img src="{{ entry.mail|gravatar }}">
</section>
<section>
<span>
    {{ entry.text|safe }}
</span>
</section>
<footer>
<p>submitted {{ entry.time|format_time }} by 
<span>
    <a href=mailto:{{entry.mail}}>
        <em>{{ entry.author }}</em>
    </a>
</span>
</p>
<p>
<a href="#">like</a>
<a href="#">share</a>
<a href="{{ url_for('del_entry', id=entry.id) }}">delete</a>
</p>
</footer>
</article>
{% endfor %}
{% endblock %}
