{% extends 'frontend/layout.html' %}
{% block title %}
Elpis
{% endblock %}
{% block content %}
{% for entry in entries %}            
<article class=group>
    <section>
        <a href="http://www.gravatar.com"><img src="{{ entry.mail|gravatar }}"></a>
    </section>

    <section>
        <span>
            {{ entry.content|markdown }}
        </span>
    </section>

    <footer>
        <p>submitted {{ entry.time|format_time }} by 
        <span>
            <a href=mailto:{{entry.mail}}>
                <em>{{ entry.author }}</em>
            </a>
        </span>
        </p>
        <p>
        <a href="{{ url_for('view', id=entry.id) }}">{{ entry.comments_count }} comments</a>&nbsp
        <a href="#">share</a>&nbsp
        <a href="{{ url_for('del_entry', id=entry.id) }}">delete</a>
        </p>
    </footer>
</article>
{% endfor %}
{% endblock %}
