{% extends 'layout.html' %}
{% block title %}
Elpis
{% endblock %}
{% block content %}
{% for entry in entries %}            
<article>
<section>
<img src="{{ entry.mail|gravatar }}">
</section>
<section>
<span>
    {{ entry.text|safe }}
</span>
</section>
<footer>
<p>submitted {{ entry.time|format_time }} by <a href={{entry.mail}}>{{ entry.author }}</a></p>
<span><a href="#">356 comments</a>&nbsp&nbsp&nbsp&nbsp<a href="#">share</a></span>
</footer>
<div class=clear></div>
</article>
{% endfor %}
{% endblock %}
