{% extends theme("admin/extra_base.html") %}

{% block left_nav %}
{% endblock left_nav %}

{% block main %}
    <form method="POST" action="">
      <dl>
          <dt><label for="username"><strong>username</strong></label>
          <dt><input id="username" name="username" type="text" value="">
          <dt><label for="password"><strong>password</strong></label>
          <dt><input id="passsword" name="password" type="password" value="">
      </dl>
      <br>
      <input type="submit" value="submit" />
    </form>
{% endblock main %}
